.row{
  margin: 2vh auto;
}

body{
  background-image: url('../img/bikes.jpg');
  background-repeat: repeat;
}

#map_canvas{
  border: 1vh solid teal;
}

.btn{
  background-color: teal;
  border: 1px solid teal;
  color: white;
}